# Arquivos e diretórios do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pdb
*.egg
*.egg-info/
dist/
build/
*.spec

# Virtualenv
env/
venv/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Arquivos do Visual Studio Code
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-workspace

# Configurações de IDEs e editores
*.sublime-project
*.sublime-workspace
.idea/
*.swp
*.swo

# Logs e arquivos temporários
*.log
*.tmp
*.bak
*.orig
*.save
